<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head') %>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/astuces_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <main>
        <h1>Astucieux tu commence a comprendre ahah </h1>

        <% if(session.User != null) { %> 
            
            <div class="buttonInscription">
                <p>Vous avez un conseil ou une astuce, hésitez pas : </p>
                <a href="#"> Partager </a>
                
            </div>
            
        <% } else { %> 
            <div class="buttonInscription">
                <p>Pour partager vos idées, vous devez : </p>
                <a href="/signup">Vous inscrire</a>
                <a href="/login">Vous connecter</a>
            </div>
        <% } %>

        
        <ul class="ensAstuce">
            <% astuce.forEach((a) => { %>
                <a class="linkImg" href="#">
                        <div class="listAstuce">
                            <li class="photo"> 
                                <% if (a.photo != null) { %> 
                                    <%= a.photo  %> 
                                <% } else { %>
                                    <img class="photoJojo" src="./images/josiane&vers.png" alt="Josiane et vers">    
                                <% } %> 
                            </li>
                            <li class="titre"> <%= a.titre  %> </li>
                            <li class="Ddate"> <%= a.date %> </li>  
                        </div>
                </a>
            <%}); %> 
        </ul>         
        
    </main>
</body>
</html>