<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head') %>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/astucePartage_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <main>
        <h1>Astucieux tu commence a comprendre ahah </h1>
        <ul>
            <% astuce.forEach((a) => { %> 
                <li> <%= a.date %> </li>
                <li> <%= a.titre  %> </li>
                <li> <%= a.texte  %> </li>
                <li> <%= a.photo  %> </li>
            <%}); %> 
        </ul>
    </main>
</body>
</html>