<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/users_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <main>
        <div>
            <% if( errors.length) { %> 
                <h4 style="color: red; font-size: 1.5em;"> <%= errors %>   </h4>    
            <% } %> 
        </div>
        <div>
            <% if( noValide.length) { %> 
                <h4 style="color: red; font-size: 1.5em;"> <%= noValide %>  <a href="/renvoie">Renvoyer Email</a> </h4>    
            <% } %> 
        </div>
        <div><h3>Connection utilisateur : </h3></div>
        <div>
            <form action="login" method="post" >
                <div>
                    <p class="monText"> Email : </p>
                    <input type="email" name="email" placeholder="saisir un email valide"><br>
                    <p class="monText"> Mot de Passe : </p>
                    <input type="password" name="password" placeholder="saisir votre mot de passe"><br>
                    <button type="submit">Valider</button>
                </div>
            </form>
            <div>
                <a class="lienMP" href="/forget">Mot de passe oublié</a>
            </div>
        </div>
    </main>
</body>
</html>