<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/names_style.css">  
    <link rel="stylesheet" href="./css/namesPoule_style.css">  

</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>

<main class="pNames">

    <div class="lienBtn">
        <form>
            <button type="submit" formaction="/names" class="btn"> Nom Poule & Coq </button>
            <button type="submit" formaction="/names_poule" class="btn"> 
                Nom pour une Poule 
                <img style="float: left; height: 30px; width: auto; padding-left: 10px;" src="../images/josiane.png" alt="poulette">
            </button>
            <button type="submit" formaction="/names_coq" class="btn"> Nom pour un Coq </button>
        </form>
    </div>

    <h1>Nom pour une poule</h1>
    
    <div class="formulaire">
        <div>
            <% if( errors.length) { %> 
                <h4 style="color: red; font-size: 1em;"> <%= errors %>   </h4>    
            <% } %> 
        </div>
        <div>
            <% if( infos.length) { %> 
                <h4 style="color: #04d26e; font-size: 1em;"> <%= infos %>   </h4>    
            <% } %> 
        </div>
        <% if(session.User != null) { %> 
        <form action="ajoutPoule" method="post" >
            <div>
                <label>Votre idee de nom pour une POULE</label>
                <input type="text" name="nomPouleCoq" placeholder="nom Poule">
                <button type="submit">Valider</button>
            </div>
        </form>
        <% } else { %> 
            <div class="buttonInscription">
                <p>Pour partager vos idées, vous devez : </p>
                <a href="/signup">Vous inscrire</a>
                <a href="/login">Vous connecter</a>
            </div>
        <% } %>
    </div>

    <div class="listPoule">
        <div>
            <ul>
                <% nameP.forEach((P) => { %>
                    <li><%= P.nom %></li><br>
                <% }) %> 
            </ul> 
        </div>
    </div>
    <div class="martine">
        <img  src="../images/martine.png" alt="martine">
    </div>
</main>
<footer style="background-color: rgb(95, 88, 88); height: 150px;">
    <p>ceci est mon footer</p>
</footer>
</body>
</html>