<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/names_style.css">
    <link rel="stylesheet" href="./css/namesCoq_style.css">    
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>

<main class="pNames">

    <div class="lienBtn">
        <form>
            <button type="submit" formaction="/names" class="btn"> Nom Poule & Coq </button>
            <button type="submit" formaction="/names_poule" class="btn"> Nom pour une Poule </button>
            <button type="submit" formaction="/names_coq" class="btn">
                  Nom pour un Coq 
                 <img style="float: left; height: 30px; width: auto; padding-left: 10px;" src="../images/josiane.png" alt="poulette">
            </button>
        </form>
    </div>

    <h1>Nom pour un Coq</h1>

    <div class="formulaire">
        <div>
            <% if( errors.length) { %> 
                <h4 style="color: red; font-size: 1em;"> <%= errors %>   </h4>    
            <% } %> 
        </div>
        <div>
            <% if( infos.length) { %> 
                <h4 style="color: #04d26e; font-size: 1em;"> <%= infos %>   </h4>    
            <% } %> 
        </div>
        <form action="ajoutCoq" method="post" >
            <div>
                <label>Votre idee de nom pour un COQ</label>
                <input type="text" name="nomPouleCoq" placeholder="nom Coq">
                <button type="submit">Valider</button>
            </div>
        </form>
    </div>

    <div class="listCoq">
        <div>
            <ul>
                <% nameC.forEach((C) => { %>
                    <li><%= C.nom %></li>
                 <% }); %> 
            </ul> 
        </div>
    </div>
    <div class="rico">
        <img  src="../images/rico.png" alt="rico">
    </div>
</main>
<footer style="background-color: rgb(95, 88, 88); height: 150px;">
    <p>ceci est mon footer</p>
</footer>
</body>
</html>