<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/names_style.css">  
    <link rel="stylesheet" href="./css/namesPoule_style.css">  

</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>

<main class="pNames">

    <div class="lienBtn">
        <form>
            <button type="submit" formaction="/names" class="btn"> Nom Poule & Coq </button>
            <button type="submit" formaction="/names_poule" class="btn"> 
                Nom pour une Poule 
                <img style="float: left; height: 50px; width: auto; padding-left: 10px;" src="../images/jojo.png" alt="poulette">
            </button>
            <button type="submit" formaction="/names_coq" class="btn"> Nom pour un Coq </button>
        </form>
    </div>

    <h1>Nom pour une poule</h1>
    
    <div class="formulaire">
        <div>
            <% if( errors.length) { %> 
                <h4 style="color: red;"> <%= errors %>   </h4>    
            <% } %> 
        </div>
        <form action="ajoutPoule" method="post" >
            <div>
                <label>Votre idee de nom pour une POULE</label>
                <input type="text" name="nomPouleCoq" placeholder="nom Poule">
                <button type="submit">Valider</button>
            </div>
        </form>
    </div>

    <div class="listPoule">
        <div>
            <ul>
                <% nameP.forEach((P) => { %>
                    <li><%= P.nom %></li>
                <% }); %> 
            </ul> 
        </div>
    </div>

</main>
<footer style="background-color: rgb(95, 88, 88); height: 150px;">
    <p>ceci est mon footer</p>
</footer>
</body>
</html>