<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/names_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>


    <h1>PAGE NAMES</h1>
   
    <div>
        <h4> 10 idées de nom aléatoire pour une Poule</h4>
        <div>
            <ul>
                <% nameP.forEach((P) => { %>
                    <li><%= P.nom %></li>
                 <% }); %> 
            </ul> 
        </div>
    </div>
    <div>
        <h4> 10 idées de nom aléatoire pour une Coq</h4>
        <div>
            <ul>
                <% nameC.forEach((P) => { %>
                    <li><%= P.nom %></li>
                 <% }); %> 
            </ul> 
        </div>
    </div>
</body>
</html>