<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/home_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>

    <div>
        <% if( errors.length) { %> 
            <h4 style="color: red;"> <%= errors %>   </h4>    
        <% } %> 
    </div>

    <h1>PAGE NAMES</h1>
    <div>
        <h2>saisir un nom </h2>
    </div>
    <div>
        <form action="ajoutPoule" method="post" >
            <div>
                <label>Votre idee de nom pour une POULE</label><br>
                <input type="text" name="nomPouleCoq" placeholder="nom Poule & Coq"><br>
                
                <button type="submit">Valider</button>
            </div>
        </form>
    </div>
    <div>
        <form action="ajoutCoq" method="post" >
            <div>
                <label>Votre idee de nom pour un COQ</label><br>
                <input type="text" name="nomPouleCoq" placeholder="nom Poule & Coq"><br>
                
                <button type="submit">Valider</button>
            </div>
        </form>
    </div>
    <div>
        <h4> 10 idées de nom aléatoire pour une Poule</h4>
        <div>
            <ul>
                <% nameP.forEach((P) => { %>
                    <li><%= P.nom %></li>
                 <% }); %> 
            </ul> 
        </div>
    </div>
    <div>
        <h4> 10 idées de nom aléatoire pour une Coq</h4>
        <div>
            <ul>
                <% nameC.forEach((P) => { %>
                    <li><%= P.nom %></li>
                 <% }); %> 
            </ul> 
        </div>
    </div>
</body>
</html>