<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/home_style.css"> 
    <link rel="stylesheet" href="./css/users_style.css">
    <script src="./js/responsive.js"></script> 
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <main>
        <div class="info_message">
            <% if( infos.length) { %> 
                <h4> <%= infos %>   </h4>    
            <% } %> 
        </div>
        <div class="error_message">
            <% if( errors.length) { %> 
                <h4> <%= errors %>   </h4>    
            <% } %> 
        </div>

        <div>
            <p class="monText">Vos Paramètres</p><br>
            <form action="modifParams" method="post">
                <div>
                    <input type="email" name="email" value="<%= user[0].email %>"><br>
                    <input type="text" name="pseudo" value="<%= user[0].pseudo %>"><br>
                    <button type="submit">Valider</button>
                </div>
            </form><br><br>
            <div>
                <p class="monText">Changer mon de passe : </p>
                <a class="lienMP" href="/changePassword">Modifier mon mot de passe</a>
            </div><br><br><br>
            <div>
                <p class="monText">Supprimer mon compte : </p>
                <a class="lienMP" href="#" onclick="confirmation();"> Suppression Compte </a>
            </div>
        </div>
    </main>
    <script>
        function confirmation() {
        if (confirm("etes-vous sur de vouloir supprimer votre compte definitivement ?" )) {
        window.location.href = "/deleteUser"
        }
        }

    </script>
   
</body>
</html>